.hi{
    text-align: center;

}

.hi h1{
    color: aqua;
    font-size:6em;
    
}

nav{
    text-align:center; 
     
}

nav li{
    display: inline-block;
    padding:40px;
    font-size:25px;
    color: rgb(46, 47, 47);
     
}
button{
    border-radius:12px;
    width:10rem;
}
 footer{
    display: flex;
    justify-content: center;
    background-color: aqua;
    height:10rem;
    padding-top:28px;
 }

 form{
    padding-top:2rem;
    font-size:20px;
   
 }

 
  
